<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="robot_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
              <!-- By default, set up controllers for simulation. This won't work on real hardware -->
              <!-- <plugin>mock_components/GenericSystem</plugin> -->
              <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
              <param name="joint_commands_topic">/robot_joint_state</param>
              <param name="joint_states_topic">/joint_states_sub</param>
            </hardware>
            <joint name="j1">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j2">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j3">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j4">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j5">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j6">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wl1">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wl1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wl2">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wl2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wr1">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wr1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wr2">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wr2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            
        </ros2_control>
    </xacro:macro>
</robot>
