<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="hump">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-9.78611731893812E-10 -52.8471187304909 1.69585969055801"
        rpy="0 0 0" />
      <mass
        value="20650615.5328058" />
      <inertia
        ixx="158318352419.087"
        ixy="1.58175258106365"
        ixz="0.0186666410290973"
        iyy="713486883.868618"
        iyz="398553067.855802"
        izz="158980407399.775" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hump/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hump/meshes/base_link.STL" />
      </geometry>
    </collision> -->
  </link>
</robot>